#games{:data => { :"games-path" => games_path, :"pull-time" => 1.seconds } }

  %ul#scores
    - @latest_games.each do |game|
      = render "running_game", :game => game

  -# http://jqueryui.com/demos/tabs/#default
  #score-table
    %ul
      %li
        = link_to "Daily HighScore", "#highscores", :title => "highscores"
      %li
        = link_to "Alltime HighScore", games_path(:a => 5), :title => "highscores"
      %li
        = link_to "Top Players", games_path(:a => 3), :title => "highscores"

    %table
      %thead
        %tr
          %th.name Player
          %th.score Score
          %th.date Date
          %th.duration Duration

      %tbody#highscores
        = render @games
